.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.p {
    text-align: center;
    color: var(--white);
    padding-top: 1px;
    font-size: 24px;
}
.logo {
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
}